[run]
omit =
    func/src/domain/*
    func/src/infrastructures/*
    func/src/repositories/*
    */__init__.py

# command to run
# pytest --cov-report term-missing --cov-config=.coveragerc --cov=func -v